@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: rgb(149, 148, 146);
    margin: 0;
    padding: 0;
    font-family: roboto; 
}

#ylaosa {
    height: 0px;
}

#peli {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: rgb(71, 71, 71);
}

#napit {
    display: block;
    text-align: center;
}

#napit button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#napit button:hover {
    background-color: rgb(0, 255, 8);
}

#ohjeet {
    font-size:1.3em;
    font-family:'Trebuchet MS';
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#havio {
    font-size:5em;
    color: white;
    position:absolute;
    display: none;
}
#voitto {
    font-size:5em;
    color: white;
    position:absolute;
    display: none;
}